
main{
    width: 80%;
    margin: 0 auto;
}
.box, 
.box-nested{
    min-height: 50px;
    background-color: #006cfa;
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 15px;
}

.box-nested{
   background:  #00e165;
   border-color: #006cfa;
}

.box-large{
    height: 100px;
}

section{
    margin-bottom: 20px;
}